@import url("http://osuuci.com/resources/theme.css");

.hoverzotcadebackground {
  text-decoration: none;
  color: black;
}
.hoveroflbackground:hover ~ html{
  background-image: url("http://osuuci.com/tournaments/zotcade/backgroundzotcade.png");
}

.hoverzotcadebackground {
  text-decoration: none;
  color: black;
}
.hoveroflbackground:hover ~ html {
  background-image: url("http://osuuci.com/tournaments/zotcade/backgroundzotcade.png");
}

.hoverzotcadebackground2 {
  width: 40em;
}
.hoverzotcadebackground2:hover ~ html{
  background-image: url("http://osuuci.com/tournaments/zotcade/backgroundzorcade.png");
}

.hoveroflbackground2 {
}
.hoveroflbackground2:hover ~ html{
  background-image: url("http://osuuci.com/tournaments/ofl/oflBackground.png");
}